---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.voting {
    display: flex;
    align-items: center;
  }
  
  .voting-button {
    height: 40px; /* Ajusta esto al tamaño que prefieras */
    cursor: pointer;
    margin-right: 10px; /* Espacio entre el botón de like y el contador */
  }
  
  .voting-button:last-child {
    margin-right: 0; /* Asegúrate de que no haya margen extra después del último botón */
  }
  
  .voting-count {
    font-size: 1em; /* Ajusta esto al tamaño de fuente que prefieras */
    margin-right: 20px; /* Espacio entre el contador y el siguiente botón o elemento */
  }

    .voting-button:hover {
        color: #136b9e;
    }
  
    @media (max-width: 768px) {
        .voting-button {
          height: 30px; /* Más pequeño en dispositivos móviles */
        }
      
        .voting-count {
          font-size: 0.8em; /* Fuente más pequeña en dispositivos móviles */
        }
      }
      